*.iml
.gradle/
build/
local.properties
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# ключи и секреты — НИКОГДА в репозиторий
*.jks
*.keystore
keystore.properties

# большие бинарники ядра
app/libs/*.aar
